h2{
    color: rgb(255, 0, 149);
    background-color: aqua;
}
h2:hover{s
    color: blueviolet;
    background-color: chartreuse;
    text-align: center;
}
a:active{
    color:red ;
    background-color: aqua;
    
}
input{
    color: aqua;
    background-color: rgb(25, 216, 7);
}
input:focus{
    color: red;
    background-color: bisque;
}
.fi{
    color: red;
    background-color: blue;
}
p:first-child{
    color: blueviolet;
    background-color: chartreuse;
}
p::first-letter{
    color: rgb(100, 6, 250);
padding: 20px;
}
